body{
  background-color: #add8e6;
  text-align: center;
}

.container {
  width: 95%;
  margin: auto;
  background-color: #fff;
}

.nav{
  display: none;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid black;
}

.nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.nav a:link {
  display: block;
  color: #ffffff;
  background-color: #3a9fbf;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

.nav a:hover, a:active {
  background-color: #286e84;
}

.nav a:visited{
  color: #000;
}

.nav1{
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid black;
}

.nav1 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.nav1 a:link {
  display: block;
  color: #ffffff;
  background-color: #3a9fbf;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

.nav1 a:hover, a:active {
  background-color: #286e84;
}

.nav1 a:visited{
  color: #000;
}

.lastchild{
  border-bottom: 1px solid black;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
}

.main{
  flex:1 100%;
}

.aside{
  background: silver;
  flex: 1 100%;
  padding: 10px;
}

h1{
font-family: 'Noto Serif', "Times New Roman", serif;
}

p{
font-family: 'Catamaran', Arial, serif;
padding-left: 10px;
padding-right: 10px;
text-align: left;
max-width: 800px;
}

img{
  border-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

hr{
  background: #3a9fbf;
  width: 95%;
  height: 4px;
}

.footer {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 30px;
}

.menu-trigger{
  order:1;
  color: white;
  text-decoration: none;
  width: 2em;
  font-size: 1.5em;
}

header{
  display: flex;
  flex-flow: column;
  background-color: #3a9fbf;
  margin: 0;
  padding: 0 10px;
  color: white;
}

@media all and (min-width:700px){
  .nav{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
  }
  .nav1{
    flex-flow: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
  }
  .lastchild{
    border-bottom: none;
  }
  .aside{
    flex:1 auto;
    order: 1;
  }
  .main{
    flex: 3 0px;
    order: 2;
  }

  .main{
    display: flex;
    flex-flow: row;
    padding-left: 10px;
  }
  .menu-trigger{
    display: none;
  }
  header{
    display: flex;
    flex-flow: row;
  }
  nav{
    padding-top: 30px;
    padding-left: 20px;
  }
}

@media all and (min-width: 1100px){
  .aside{
    display: none;
  }
  .menu-trigger{
    display: hidden;
  }
}
