body{
  background-color: #add8e6;
  text-align: center;
}

#container {
  width: 95%;
  margin: auto;
  background-color: #fff;

}

#nav li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 33%;
}

#nav a:link {
  display: block;
  color: #ffffff;
  background-color: #3a9fbf;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

#nav a:hover, a:active {
  background-color: #286e84;
}

#nav1 li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav1 a:link {
  display: block;
  color: #ffffff;
  background-color: #3a9fbf;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

#nav1 a:hover, a:active {
  background-color: #286e84;
}

h1{
font-family: 'Noto Serif', "Times New Roman", serif;
}

p{
font-family: 'Catamaran', Arial, serif;
}

img {
  border-style: none;
  padding-top: 15px;
}

hr {
  background: #3a9fbf;
  width: 95%;
  height: 4px;
}

#footer {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
    padding-left: 30px;
}
