body{
  background-color: #add8e6;
  text-align: center;
}

#container {
  width: 95%;
  margin: auto;
  background-color: #fff;

}

#nav li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 33%;
}

#nav a:link {
  display: block;
  color: #ffffff;
  background-color: #3a9fbf;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #286e84;
}

#nav1 li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav1 a:link {
  display: block;
  color: #ffffff;
  background-color: #3a9fbf;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav1 a:hover, a:active {
  background-color: #286e84;
}

h1{
  font-family: Helvetica, Arial, sans-serif;
}

p{
  font-family: Helvetica, Arial, sans-serif;
}

img {
  border-style: none;
  padding-top: 15px;
}
